@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Meta Web';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/meta.woff') format('woff'),
       url('./fonts/meta.ttf') format('tff');
}

@font-face {
  font-family: 'Meta Web';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/meta-bold.woff') format('woff'),
       url('./fonts/meta-bold.ttf') format('tff');
}

@font-face {
  font-family: 'Meta Web';
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/meta-italic.woff') format('woff'),
       url('./fonts/meta-italic.ttf') format('tff');
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Meta Web', sans-serif;
}

body {
  font-size: 16px;
}

/*Huisstijlkleuren------------------------------------------------------------*/

a {
  color: #000;
}

a:hover {
  color: #bcbab3;
  text-decoration: underline;
}

.dropdown-menu a{
   color: #142482;
}

.dropdown-menu a:hover{
   color: #ffffff;
   background-color: #6a7880
}

.navbar {
   color: #ffffff;
   background-color: #3366ff;
   border: none;
}

.navbar a {
  font-weight: normal;
  color: #ffffff !important;
}

.nav-tabs a {
   font-weight: normal;
   color: #142482;
}

#sidebar {
   color: #000;
   background-color: #E1E5E6;
   /*#c9d2d3;*/
   word-wrap: break-word;
}

.navbar-nav li a:hover,
.navbar-nav > .active > a {
   background-color:#142482  !important;
}

.navbar-nav>.messages-menu>.dropdown-menu,
.navbar-nav>.notifications-menu>.dropdown-menu,
.navbar-nav>.tasks-menu>.dropdown-menu {
    width: 400px;
    padding: 0;
    margin: 0;
    top: 100%;
    left: -330px;
}

/* Value boxes----------------------------------------------------------------*/

/*.small-box.bg-light-blue {
  background-color: #3366ff !important;
  color: #ffffff !important;
}

.small-box.bg-purple {
  background-color: #8042a3 !important;
  color: #ffffff !important;
}

.small-box.bg-blue {
  background-color: #142482 !important;
  color: #ffffff !important;
}
*/
.small-box a {
  color: #ffffff;
}

.small-box {
  color: #ffffff;
}

.small-box a:hover {
  text-decoration: underline;
}

.small-box h3 {
    font-size: 38px;
    font-size: calc(18px + 1vw)
}

.small-box p {
    font-size: 15px;
    font-size: calc(12px + .2vw)
}

.small-box .icon-large {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0px;
  font-size: 70px;
  line-height: 0px;
  color: rgba(255, 255, 255, 0.6);
}

.small-box .img-local {
  position: absolute;
  bottom: 0px;
  right: 2px;
  margin: 0px;
  line-height: 0px;
  opacity: .80;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: none !important;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}


/* Textbox explainers---------------------------------------------------------*/
.shiny-text-output.explain {
  color: #000;
  background-color: #c9d2d3;
  border-radius: 4px;
  padding: 10px 8px 10px 8px;
}

.shiny-text-output.explain a {
  text-decoration: underline;
}

.shiny-text-output.explain a:hover {
  text-decoration: none;
}

.shiny-html-output.explain {
  color: #000;
  background-color: #E1E5E6;
  /*#c9d2d3;*/
  border-radius: 4px;
  padding: 10px 8px 10px 8px;
}

.shiny-html-output.explain a {
  color: #000 !important;
  text-decoration: underline;
}

.shiny-html-output.explain a:hover {
  color: #000 !important;
  text-decoration: none;
}

.well.explain a {
  text-decoration: underline;
}

.well.explain a:hover {
  text-decoration: none;
}

/* FAQ pagina-----------------------------------------------------------------*/

.faq {
  color: #142482 !important;
}

.faq a {
  color: #142482;
  text-decoration: underline;
}

.faq a:hover {
  text-decoration: none;
}

.faq .box-header {
  color: #142482;
  background-color: #c9d2d3 !important;
  padding-right: 60px;
}

/* Footer---------------------------------------------------------------------*/

.ar_footer {
  color: #000;
  background-color: #afdff9;
  min-height: 200px;
}

.ar_footer ul{
  list-style-position: outside;
  padding-left: 15px;
}

.ar_footer a {
  text-decoration: underline;
}

.ar_footer a:hover {
  text-decoration: none;
}

/* Tijdlijn-------------------------------------------------------------------*/

#timeline .vis-item {
  border-color: #8042a3;
}

#timeline .vis-item.vis-range {
  border-color: #8042a3;
  background-color: #8042a3;
  color: #fff;
  border-width: 1px;
  display: inline-block;
}

#timeline .vis-item a {
  color: #8042a3 !important;
}

#timeline .vis-item.vis-range a {
  color: #fff !important;
}

#timeline .vis-item.vis-selected {
  color: #fff;
  border-color: #3366ff;
  background-color: #3366ff;
}

#timeline .vis-item.vis-selected a {
  color: #fff !important;
}

#timeline .vis-current-time {
  background-color: #afdff9;
}

/*Selector--------------------------------------------------------------------*/
/* Color selected input */
.selectize-control.multi .selectize-input > div.active {
  background: #EB00A3;
}

/*checkbox--------------------------------------------------------------------*/
.checkbox-inline {
  accent-color: #EB00A3;
}


/*Slider----------------------------------------------------------------------*/
/* Color anchor values */
.irs--shiny .irs-min, .irs--shiny .irs-max {
    color: #6a7880;
    font-size: 14px;
    background: none;
}

/* Selected values */
.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {
    color: #fff;
    background-color: #3366ff;
    font-size: 16px;
}

/* Selectors*/
.irs--shiny .irs-handle{
  top: 23px;
  border: #bcbab3;
  background-color: #bcbab3;
}

/* Selector line */
.irs--shiny .irs-line {
    height: 20px;
}

/* Selected bar */
.irs--shiny .irs-bar {
    height: 20px;
    top: 25px;
    border-top: 1px solid #00D5F9;
    border-bottom: 1px solid #00D5F9;
    background: #00D5F9;
}

/*afdff9

/* Selectors */
.irs--shiny .irs-slider {
    top: 22px;
    width: 26px;
    height: 26px;
}





/*Slider----------------------------------------------------------------------*/
/* Color anchor values */
/*.irs-min, .irs-max {
    color: #fff;
    font-size: 14px;
    background: #142482;
}

/* Selected values */
/*.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 3px;
    background: #3366ff;
    border-radius: 3px;
}


/* Selector line */
/*.irs-line {
    height: 20px;
}

/* Selected bar */
/*.irs-bar {
    height: 20px;
    top: 25px;
    border: 1px solid #bcbab3;
    background: #afdff9;
}

/* Selectors */
/*.irs-slider {
    top: 22px;
    width: 26px;
    height: 26px;
}
