.navbar-nav > li > a[data-value='tab_real_20'] {
  color: #ffffff !important;
  background-color: #E86E00 !important;
}

.navbar-nav > li > a:hover[data-value='tab_real_20'] {
  color: #ffffff !important;
  background-color: #142482 !important;
}

.js-plotly-plot .plotly svg a {
    fill: #ffffff !important;
    text-decoration: underline;
}

.navbar-nav > li > a[data-value='tab_real_21'] {
  color: #ffffff !important;
  background-color: #E76BF3 !important;
}

.navbar-nav > li > a:hover[data-value='tab_real_21'] {
  color: #ffffff !important;
  background-color: #142482 !important;
}

